{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center mb-5">
        <br><br><h1 class="font-weight-bold">{{.Title}}</h1>
      </div>
      <div class="col-lg-10 mb-5">
        <div class="content">
          {L'artisan ICÖL est incarné par :
          - la micro-entreprise individuelle "Loïc Arnaud":
          	- SIREN : 821 633 922
          	- Adresse: 1 Cité de la Digue, avenue Gaston Cabannes 33270 FLOIRAC
          - l'association artistique et culturelle "Tedua"
          	- SIREN :
          	- Adresse:

          Pour échanger avec lui sur les conditions de vente, le contacter directement via :
          - e-mail : contact@icol-crea.net
          - téléphone : 07 67 79 36 88
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
